# Slicing

In [1]:
s = 'ABCDEF'

In [2]:
print(s[-1:0:-1]) # reverse iteration in string

FEDCB

In [3]:
a = s[::] # copy the whole string into a

In [4]:
a

'ABCDEF'

In [5]:
a = s[::-1] # copy the whole string into a in reverse order

In [6]:
a

'FEDCBA'

# Tuple

In [7]:
tp = (10,30,20,40,70,50)
tp = tuple() # create an empty tuple

In [8]:
tp

()

In [9]:
# a[0] = 60 It is not allowed because Tuple is immutable sequences

In [10]:
len(tp) # length function is Argumentative

0

In [11]:
# Accessing tuple element
for i in range(len(tp)):
    print(tp[i])

In [12]:
# concatenate two tuples
tp1 = (10,20,30,40)
tp2 = (15,25)
tp4 = (2,'hello') # tuple can be heterogeneous
tp6 = (1,2,(2,6)) # 2D tuple
tp3 = tp1 + tp2
tp5 = tp4 * 3
tp6

(1, 2, (2, 6))

# Set

In [13]:
s1 = {10,20,30,40}
s2 = {20,25,30}
s3 = set() # create empty set

In [14]:
# s2[1] ** set is not iterable

In [15]:
s4 = s1 & s2 # s1 intersection s2
s4 = s1 - s2 # s1 - s2
s4 = s1 | s2 # s1 U s2
s4 = s1 ^ s2 # (s1 U s2) - (s1 intersection s2)

In [16]:
s4

{10, 25, 40}

# List and its Operation

In [17]:
l1 = [] # empty list
l2 = [10, "alpha", [2,3]] # list of list (2D-list) l2[2][0] = 2
l3 = [2,3,5,7,8]

In [18]:
l4= l3 * 3 # copy the list three times and append it into main list

In [19]:
l5 = l2 + l3 # concatenate two list
l5

[10, 'alpha', [2, 3], 2, 3, 5, 7, 8]

In [20]:
l2.append(40) # append the element given in the arg with the list
l2.append([1,4])
l2

[10, 'alpha', [2, 3], 40, [1, 4]]

In [21]:
l2.extend([2,7,5]) # merge the given list with the main list
l2

[10, 'alpha', [2, 3], 40, [1, 4], 2, 7, 5]

In [22]:
l3.insert(2,55) # insert at any index position (index,element)
l3

[2, 3, 55, 5, 7, 8]

In [23]:
l3.count(5) # count the total number of occurence of the given element

1

In [24]:
l3.remove(55) # remove the given element from the list
l3

[2, 3, 5, 7, 8]

In [25]:
l3.pop(2) #Pop can remove the element of given index and return it
A = l3.pop() # remove the last element of the list
A

8

In [26]:
l3.sort()
l3

[2, 3, 7]

In [27]:
l5 = l3.reverse()

In [28]:
print(l5)

None

In [48]:
list5 = [1,3,6,7,2,0]
list5.reverse()

In [49]:
print(list5)

[0, 2, 7, 6, 3, 1]

In [ ]:
x = len()