# 01 Swaping without any third variable

In [ ]:
a = 10
b = 20
b = b / 2
a = b * 2
print(a, b)

# 02 input

In [ ]:
inp1 = int(input("Enter a number"))
inp2 = int(input("Enter another number"))
result = inp1 * inp2
print(result)

# 03 typecasting to float

In [ ]:
inp1 = float(input("Enter a number"))
inp2 = float(input("Enter another number"))
result = inp1 * inp2
print("The result is: ",result)

# 04  introduction to loop

In [ ]:
ctr =0
for ctr in range(10, 21): # in range funtion the lower bound is inclusive and the upper bound is exclusive
    print(ctr)

# 05 continue statement

In [ ]:
ctr =0
for ctr in range(10, 21):
    if(ctr == 15 or ctr == 17):
        continue # coninue statement is used to skip the conditions
    else:
        print(ctr)

# 06 break statement

In [ ]:
low = int(input("enter the lower bound: "))
up = int(input("enter the upper bound: "))

ctr =0
for ctr in range(low, up):
    if(ctr == 15 or ctr == 18):
        continue
    else:
        print(ctr)

# Intro to string

In [ ]:
str1 = "Hello world\n"
print(str1 * 10)

In [ ]:
# ctr = 0
# for (ctr < 10):
#     print(ctr)
#     ctr = ctr + 1

ctr = 0
for ctr in range(10, 21, 2):
    print(ctr)

In [ ]:
x, y = divmod(11,2)
print(x, y)