# List Exercise

# 1.  Interchange first and last elements in a list

In [9]:
mylist = [3,7,1,0,4,9,2]

In [10]:
def swap(a, b):
    temp = mylist[a]
    mylist[a] = mylist[b]
    mylist[b] = temp

In [11]:
swap(0, len(mylist)-1)

In [12]:
mylist

[2, 7, 1, 0, 4, 9, 3]

# 2. Swap two elements in a list

In [13]:
swap(2,4)

In [14]:
mylist

[2, 7, 4, 0, 1, 9, 3]

# 3. Ways to find length of list

In [15]:
print("Length of the list: ",len(mylist))

Length of the list:  7

# 4. Maximum of two numbers

In [18]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter second Number: "))

if(num1 > num2):
    print(f"{num1} is the greatest")
elif(num2 > num1):
    print(f"{num2} is the greatest")
else:
    print(f"Both the numbers are same")

Enter First Number: 8
Enter second Number: 9
9 is the greatest

# 5. Minimum of two numbers

In [20]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter second Number: "))

if(num1 > num2):
    print(f"{num2} is the smallest")
elif(num2 > num1):
    print(f"{num1} is the smallest")
else:
    print(f"Both the numbers are same")

Enter First Number: 6
Enter second Number: 1
1 is the smallest

# String Exercise

# 1.  Check whether the string is Symmetrical or Palindrome

In [61]:
def reverse(s):
    rs = ""
    for i in range(1,len(s)+1):
        rs = rs + s[-i]
    return rs

def symmetric(s):
    if((s[:(len(s)//2)]) == (s[len(s)//2:])):
        print("Symmentric")
    else:
        print("Non Symmentric")
        
mystr = input("Enter a string: ")
symmetric(mystr)
if(mystr == reverse(mystr)):
    print("Pallindrome")
else:
    print("Not Pallindrome")

Enter a string: poop
Non Symmentric
Pallindrome

# 2. Ways to remove iâ€™th character from string

In [32]:
mystring = "Anindya"

In [33]:
newstr = mystring.replace(mystring[2], "")
newstr

'Anndya'

In [34]:
newstr = mystring[:4] + mystring[5:]
newstr

'Aninya'

In [37]:
newlist = mystring.split('d')
newstr = newlist[0] + newlist[1]
newstr

'Aninya'

# 3. Reverse words in a given String

In [77]:
sentence = input("Enter the sentence: ")
wordlist = sentence.split(" ")
newwordlist = []
for word in wordlist:
    newwordlist.append(reverse(word)+' ')
print("".join(newwordlist))

Enter the sentence: i am a good boy
i ma a doog yob

# 4. Find length of a string in python

In [55]:
str1 = "anindya"

In [56]:
len(str1)

7

In [57]:
cnt = 0
for i in str1:
    cnt +=1
print(cnt)

7

# 5.  Print even length words in a string

In [58]:
sentence = input("Enter the sentence: ")
wordlist = sentence.split(" ")
for word in wordlist:
    if(len(word) % 2 == 0):
        print(word)

Enter the sentence: i am a good boy
am
good

# 6. Print longest word from a given sentence

In [64]:
sentence = input("Enter the sentence: ")
wordlist = sentence.split(" ")
key = len(wordlist[0])
longestword = wordlist[0]
for word in wordlist:
    if(len(word) > key):
        key = len(word)
        longestword = word
print("longest word: ",longestword)

Enter the sentence: my name is anindya
longest word:  anindya

# 7. Count the number of occurences of a given word from a given string

In [80]:
sentence = input("Enter the sentence: ")
word = input("Enter the target word: ")
print(f"total pccurence of {word}: ",sentence.count(word))

Enter the sentence: i am a good good boy
Enter the target word: good
total pccurence of good:  2

# 8. Print all the unique from a given text

In [81]:
sentence = input("Enter the sentence: ")
words = sentence.split(" ")
myset = set(words)
print(myset)

Enter the sentence: i am a very very good boy
{'very', 'good', 'boy', 'a', 'am', 'i'}

# Tuple Exercise

In [85]:
tp1 = (4,2,7,5,0,1,22,6)

# 1. Find the size of a Tuple

In [86]:
len(tp1)

8

# 2. Maximum and Minimum K elements in Tuple

In [87]:
max(tp1)

22

In [88]:
min(tp1)

0

# 3. Sum of tuple elements

In [89]:
sum(tp1)

47

# 4. Row-wise element Addition in Tuple Matrix

In [123]:
tp2 = ((1,2,3),(4,5,6),(7,8,9),(10,11,12))

In [124]:
tp3 = tuple(sum(i) for i in tp2)

In [125]:
tp3

(6, 15, 24, 33)

# 5. Create a list of tuples from given list having number and its cube in each tuple

In [126]:
tp2 = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]

In [142]:
mylist = []
for i in tp2:
    mylist2 = []
    for j in i:
        mylist2.append(j*j*j)
    mylist.append(tuple(mylist2))

In [143]:
mylist

[(1, 8, 27), (64, 125, 216), (343, 512, 729), (1000, 1331, 1728)]

# Set Exercise

In [144]:
myset = {1,4,2,6,9,0}

# 1. Find the size of a Set in Python

In [145]:
len(myset)

6

# 2. Iterate over a set in Python

In [146]:
for i in myset:
    print(i)

0
1
2
4
6
9

# 3. Maximum and Minimum in a Set

In [147]:
max(myset)

9

In [148]:
min(myset)

0

# 4. Remove items from Set

In [157]:
myset.remove(4)

In [158]:
myset

{0, 1, 6, 9}

# 5. Check if two lists have at least one element common

In [159]:
list1 = [1,2,3,4]
list2 = [2,5,6,7]

In [160]:
for i in list1:
    if(i in list2):
        print(i)

2

In [ ]:
`