In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fiveyearsweatherdata.csv')
df

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,"Kolkata,West Bengal,India",01/01/2017,14.0,25.3,19.9,16.5,82.47,NaN,5.8,NaN,...,1.2,4.9,1015.9,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
1,"Kolkata,West Bengal,India",01/02/2017,16.0,26.0,20.6,16.0,76.76,NaN,8.1,NaN,...,1.4,0.3,1015.6,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
2,"Kolkata,West Bengal,India",01/03/2017,16.0,27.0,21.1,15.6,73.12,27.3,9.2,NaN,...,1.6,10.7,1014.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
3,"Kolkata,West Bengal,India",01/04/2017,16.0,25.0,19.9,14.5,72.57,NaN,8.1,NaN,...,1.8,2.3,1014.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
4,"Kolkata,West Bengal,India",01/05/2017,15.0,25.6,19.6,13.7,71.88,NaN,8.1,NaN,...,1.9,0.0,1013.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,"Kolkata,West Bengal,India",12/27/2021,16.0,26.0,21.3,18.2,83.47,NaN,3.4,NaN,...,1.2,27.5,1017.0,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1822,"Kolkata,West Bengal,India",12/28/2021,17.8,26.0,21.1,17.3,79.94,NaN,6.9,NaN,...,1.3,33.1,1016.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1823,"Kolkata,West Bengal,India",12/29/2021,18.0,25.0,20.7,17.2,81.38,NaN,6.9,NaN,...,1.5,63.5,1016.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1824,"Kolkata,West Bengal,India",12/30/2021,17.0,23.0,19.4,17.4,88.30,NaN,9.2,NaN,...,1.4,42.4,1018.9,"Mist, Light Drizzle, Thunderstorm, Light Rain,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1825,"Kolkata,West Bengal,India",12/31/2021,15.0,24.0,19.7,16.4,82.20,NaN,13.9,NaN,...,1.8,13.6,1019.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear

In [6]:
df.describe()

,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Latitude,Longitude,Info
count,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1538.000000,1826.000000,54.000000,1826.000000,13.000000,1826.000000,1826.000000,1826.0,1826.000000,1826.000000,1825.000000,1.826000e+03,1826.0000,0.0
mean,22.611884,31.460022,26.628697,21.713527,76.602141,40.740182,11.097974,30.938889,151.183899,8.730769,4.650783,4.180986,0.0,2.019496,40.459693,1007.906411,2.257050e+01,88.3713,NaN
std,5.300028,4.195294,4.473758,5.628949,10.552180,7.871842,6.294325,6.461772,51.267895,0.712255,13.994448,6.317213,0.0,0.316475,27.677867,6.050940,3.553687e-15,0.0000,NaN
min,9.000000,18.000000,14.200000,5.800000,41.150000,26.300000,3.400000,20.800000,20.950000,7.600000,0.000000,0.000000,0.0,0.700000,0.000000,988.400000,2.257050e+01,88.3713,NaN
25%,19.000000,29.000000,23.600000,17.100000,69.145000,34.100000,8.100000,26.725000,113.330000,7.900000,0.000000,0.000000,0.0,1.800000,14.325000,1003.100000,2.257050e+01,88.3713,NaN
50%,24.800000,32.000000,28.200000,23.900000,77.410000,42.100000,10.300000,28.900000,153.810000,8.800000,0.000000,0.000000,0.0,2.100000,44.300000,1008.100000,2.257050e+01,88.3713,NaN
75%,27.000000,35.000000,30.000000,26.500000,85.037500,46.700000,12.800000,34.400000,189.450000,9.100000,1.630000,8.330000,0.0,2.200000,62.600000,1013.100000,2.257050e+01,88.3713,NaN
max,30.500000,41.000000,34.800000,30.100000,97.230000,61.200000,123.300000,55.300000,331.380000,9.600000,232.770000,34.780000,0.0,3.200000,100.000000,1019.700000,2.257050e+01,88.3713,NaN

In [12]:
df1 = df.drop('Address', axis=1)
df1

,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,01/01/2017,14.0,25.3,19.9,16.5,82.47,NaN,5.8,NaN,78.33,...,1.2,4.9,1015.9,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
1,01/02/2017,16.0,26.0,20.6,16.0,76.76,NaN,8.1,NaN,148.54,...,1.4,0.3,1015.6,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
2,01/03/2017,16.0,27.0,21.1,15.6,73.12,27.3,9.2,NaN,244.92,...,1.6,10.7,1014.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
3,01/04/2017,16.0,25.0,19.9,14.5,72.57,NaN,8.1,NaN,244.38,...,1.8,2.3,1014.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
4,01/05/2017,15.0,25.6,19.6,13.7,71.88,NaN,8.1,NaN,231.58,...,1.9,0.0,1013.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,12/27/2021,16.0,26.0,21.3,18.2,83.47,NaN,3.4,NaN,20.95,...,1.2,27.5,1017.0,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1822,12/28/2021,17.8,26.0,21.1,17.3,79.94,NaN,6.9,NaN,28.18,...,1.3,33.1,1016.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1823,12/29/2021,18.0,25.0,20.7,17.2,81.38,NaN,6.9,NaN,110.29,...,1.5,63.5,1016.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1824,12/30/2021,17.0,23.0,19.4,17.4,88.30,NaN,9.2,NaN,213.63,...,1.4,42.4,1018.9,"Mist, Light Drizzle, Thunderstorm, Light Rain,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1825,12/31/2021,15.0,24.0,19.7,16.4,82.20,NaN,13.9,NaN,245.83,...,1.8,13.6,1019.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear

In [17]:
df = pd.read_csv('fiveyearsweatherdata.csv', parse_dates=['Date time'])
df

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,"Kolkata,West Bengal,India",2017-01-01,14.0,25.3,19.9,16.5,82.47,NaN,5.8,NaN,...,1.2,4.9,1015.9,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
1,"Kolkata,West Bengal,India",2017-01-02,16.0,26.0,20.6,16.0,76.76,NaN,8.1,NaN,...,1.4,0.3,1015.6,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
2,"Kolkata,West Bengal,India",2017-01-03,16.0,27.0,21.1,15.6,73.12,27.3,9.2,NaN,...,1.6,10.7,1014.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
3,"Kolkata,West Bengal,India",2017-01-04,16.0,25.0,19.9,14.5,72.57,NaN,8.1,NaN,...,1.8,2.3,1014.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
4,"Kolkata,West Bengal,India",2017-01-05,15.0,25.6,19.6,13.7,71.88,NaN,8.1,NaN,...,1.9,0.0,1013.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,"Kolkata,West Bengal,India",2021-12-27,16.0,26.0,21.3,18.2,83.47,NaN,3.4,NaN,...,1.2,27.5,1017.0,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1822,"Kolkata,West Bengal,India",2021-12-28,17.8,26.0,21.1,17.3,79.94,NaN,6.9,NaN,...,1.3,33.1,1016.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1823,"Kolkata,West Bengal,India",2021-12-29,18.0,25.0,20.7,17.2,81.38,NaN,6.9,NaN,...,1.5,63.5,1016.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Partially cloudy
1824,"Kolkata,West Bengal,India",2021-12-30,17.0,23.0,19.4,17.4,88.30,NaN,9.2,NaN,...,1.4,42.4,1018.9,"Mist, Light Drizzle, Thunderstorm, Light Rain,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,"Rain, Partially cloudy"
1825,"Kolkata,West Bengal,India",2021-12-31,15.0,24.0,19.7,16.4,82.20,NaN,13.9,NaN,...,1.8,13.6,1019.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",NaN,Clear

In [21]:
df1 = df.drop(['Wind Gust', 'Wind Chill', 'Info'], axis=1)
df1

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Direction,...,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Conditions
0,"Kolkata,West Bengal,India",2017-01-01,14.0,25.3,19.9,16.5,82.47,NaN,5.8,78.33,...,0.0,1.2,4.9,1015.9,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear
1,"Kolkata,West Bengal,India",2017-01-02,16.0,26.0,20.6,16.0,76.76,NaN,8.1,148.54,...,0.0,1.4,0.3,1015.6,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear
2,"Kolkata,West Bengal,India",2017-01-03,16.0,27.0,21.1,15.6,73.12,27.3,9.2,244.92,...,0.0,1.6,10.7,1014.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear
3,"Kolkata,West Bengal,India",2017-01-04,16.0,25.0,19.9,14.5,72.57,NaN,8.1,244.38,...,0.0,1.8,2.3,1014.6,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear
4,"Kolkata,West Bengal,India",2017-01-05,15.0,25.6,19.6,13.7,71.88,NaN,8.1,231.58,...,0.0,1.9,0.0,1013.7,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,"Kolkata,West Bengal,India",2021-12-27,16.0,26.0,21.3,18.2,83.47,NaN,3.4,20.95,...,0.0,1.2,27.5,1017.0,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Partially cloudy
1822,"Kolkata,West Bengal,India",2021-12-28,17.8,26.0,21.1,17.3,79.94,NaN,6.9,28.18,...,0.0,1.3,33.1,1016.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Partially cloudy
1823,"Kolkata,West Bengal,India",2021-12-29,18.0,25.0,20.7,17.2,81.38,NaN,6.9,110.29,...,0.0,1.5,63.5,1016.5,"Mist, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Partially cloudy
1824,"Kolkata,West Bengal,India",2021-12-30,17.0,23.0,19.4,17.4,88.30,NaN,9.2,213.63,...,0.0,1.4,42.4,1018.9,"Mist, Light Drizzle, Thunderstorm, Light Rain,...",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India","Rain, Partially cloudy"
1825,"Kolkata,West Bengal,India",2021-12-31,15.0,24.0,19.7,16.4,82.20,NaN,13.9,245.83,...,0.0,1.8,13.6,1019.4,"Mist, Fog, Smoke Or Haze",22.5705,88.3713,"Kolkata, WB, India","Kolkata, WB, India",Clear

In [22]:
df1.describe()

,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Direction,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Latitude,Longitude
count,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1538.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.0,1826.000000,1826.000000,1825.000000,1.826000e+03,1826.0000
mean,22.611884,31.460022,26.628697,21.713527,76.602141,40.740182,11.097974,151.183899,4.650783,4.180986,0.0,2.019496,40.459693,1007.906411,2.257050e+01,88.3713
std,5.300028,4.195294,4.473758,5.628949,10.552180,7.871842,6.294325,51.267895,13.994448,6.317213,0.0,0.316475,27.677867,6.050940,3.553687e-15,0.0000
min,9.000000,18.000000,14.200000,5.800000,41.150000,26.300000,3.400000,20.950000,0.000000,0.000000,0.0,0.700000,0.000000,988.400000,2.257050e+01,88.3713
25%,19.000000,29.000000,23.600000,17.100000,69.145000,34.100000,8.100000,113.330000,0.000000,0.000000,0.0,1.800000,14.325000,1003.100000,2.257050e+01,88.3713
50%,24.800000,32.000000,28.200000,23.900000,77.410000,42.100000,10.300000,153.810000,0.000000,0.000000,0.0,2.100000,44.300000,1008.100000,2.257050e+01,88.3713
75%,27.000000,35.000000,30.000000,26.500000,85.037500,46.700000,12.800000,189.450000,1.630000,8.330000,0.0,2.200000,62.600000,1013.100000,2.257050e+01,88.3713
max,30.500000,41.000000,34.800000,30.100000,97.230000,61.200000,123.300000,331.380000,232.770000,34.780000,0.0,3.200000,100.000000,1019.700000,2.257050e+01,88.3713